# Ignore all data files
data/raw/*
data/processed/*
src/data/raw/*
src/data/processed/*

# Keep the data folders themselves intact by keeping this hidden file
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore environment variables (API Keys)
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Virtual Environment
.venv/